html,body{
	height: 100%;
	font-family:'Microsoft YaHei';
	font-size: 14px;
	overflow: hidden;
	background-color: #f9f9f9;
}
*{
	box-sizing: border-box;
}
.m_content{
	height:calc(100% - 88px);
}
/*顶部导航*/
header{
	position: fixed;
	top: 0;
	width: 100%;
	height: 45px;
	border-bottom: 1px solid #dcd8d8;
}
header ul,footer ul{
	background: #fff;
	list-style: none;
	display:-webkit-flex;
	display: -moz-flex;
	display:flex;
	width: 100%;
	font-size: 1.1rem;
	color: #6f6666;
	text-align: center;
	padding: 0;
	margin: 0;
}
header ul li.active,footer ul li.active{
	color: #549a29;
}
header ul li{
	line-height: 44px !important;
}

header ul li.back{
	-webkit-flex:1 2 100px;
	-moz-flex:1 2 100px;
	flex:1 2 100px;
	text-indent:-18px;
}
header ul li.refresh{
	-webkit-flex:1 2 50px;
	-moz-flex:1 2 50px;
	flex:1 2 50px;
}
header ul li.c_title{
	-webkit-flex:1 1 300px;
	-moz-flex:1 1 300px;
	flex:1 1 300px;
}
header ul li.bigClass{
	-webkit-flex:1 2 50px;
	-moz-flex:1 2 50px;	
	flex:1 2 50px;
}

/*内容区域*/
section{
	margin: 44px 0;
	height:100%;
	overflow-x:hidden;
	overflow-y:auto;
	-webkit-overflow-scrolling: touch;
}

/*底部导航*/
footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 44px;
	border-top: 1px solid #dcd8d8;
}

footer ul li{
	-webkit-flex:1 1 50px;
	-moz-flex:1 1 50px;	
	flex:1 1 50px;
	line-height: 44px;
}

/*小类*/
.menuitem{
	display:-webkit-flex;
	display: -moz-flex;
	display:flex;
}
.menuitem>.mc_left{
	height: 100%;
	overflow-x:hidden; 
	-webkit-flex:1 1 100px;
	-moz-flex:1 1 100px;	
	flex:1 1 100px;
	border-right: 1px solid #dcd8d8;
	-webkit-overflow-scrolling: touch;
}
.menuitem>.mc_left>ul,.menuitem>.mc_right>ul{
	list-style: none;
	padding: 0;
	margin: 0;
	background: #fff;
}
.menuitem>.mc_left>ul>li{
	line-height: 50px;
	text-align: center;
}
.menuitem>.mc_left>ul>li.active{
	color: #549a29;
	border-left: 5px solid #549a29;
	background-color: #fff;
}
.menuitem>.mc_left>ul>li:nth-child(n-1){
	border-bottom: 1px solid #dcd8d8;
}
.menuitem>.mc_right{
	height: 100%;
	overflow-x:hidden; 
	-webkit-flex:3 3 300px;
	-moz-flex:3 3 300px;	
	flex:3 3 300px;
	-webkit-overflow-scrolling: touch;
}
/*功能*/
.menuitem>.mc_right>ul>li{
	line-height: 40px;
	display:-webkit-flex;
	display: -moz-flex;
	display:flex;
}
.menuitem>.mc_right>ul>li:nth-child(n-1){
	border-bottom: 1px solid #dcd8d8;
}
.menuitem>.mc_right>ul>li>span:first-of-type{
	flex:1 0 25px;
	-webkit-flex:1 0 25px;
	-moz-flex:1 0 25px;	
	text-align: center;
	color: #6f6666;
}
.menuitem>.mc_right>ul>li>span:last-of-type{
	flex:4 2 200px;
	-webkit-flex:4 2 200px;
	-moz-flex:4 2 200px;
}
.menuitem>.mc_right>ul>li>i{
	flex:1 0 25px;
	-webkit-flex:1 0 25px;
	-moz-flex:1 0 25px;	
	line-height: 40px;
	text-align: center;
	color: #6f6666;
}
.menuitem>.mc_right>ul>li.active{
	border-left: 5px solid #549a29;
	background-color: #fff;
}
.menuitem>.mc_right>ul>li.active *{
	color: #549a29 !important;
}

/*main*/
.main>.top_content{
	padding: 5px;
}
.main>.top_content>.list-inline{
	list-style: none;
	margin: 0;
	padding: 0;
	clear: both;
	overflow: hidden;
}
.main>.top_content>.list-inline li{
	width: 49%;
	float: left;
	margin-top: 14px;
	padding:17px 0;
	color: #fff;
}
.main>.top_content>.list-inline li:nth-child(even){
	margin-left: 2%;
}
.main>.top_content>.list-inline li>h5{
	font-size: 0.85rem;
	text-align: left;
	float: left;
	margin: 0;
	text-indent: 2px;
	font-weight:500;
	margin-left:10px; 
}
.main>.top_content>.list-inline li>h5 span{
	display: block;
	margin-top:6px;
	font-size: 1.1rem;
	text-indent: -1px;
}
.main>.top_content>.list-inline li .mini-bar-chart{
	float: left;
	display: block;
	margin: 6px 0 0 20px;
}
.main>.buttom_content{

}
.main>.buttom_content h5{
	font-size: 1rem;
	text-align: left;
	margin: 10px 0;
	font-weight:500;
	margin-left:10px; 
	color: #6f6666;
}
.menulist{
	margin: 5px;
	padding: 0;

}
.menulist>li{
	line-height: 40px;
	display:-webkit-flex;
	display: -moz-flex;
	display:flex;
	background: #fff;
	margin-top: 5px;
	border: 1px solid #dcd8d8;
}
.menulist>li>span:first-of-type{
	flex:1 0 25px;
	-webkit-flex:1 0 25px;
	-moz-flex:1 0 25px;	
	text-align: center;
	color: #6f6666;
}
.menulist>li>span:last-of-type{
	flex:4 2 200px;
	-webkit-flex:4 2 200px;
	-moz-flex:4 2 200px;
}
.menulist>li>i{
	flex:1 0 25px;
	-webkit-flex:1 0 25px;
	-moz-flex:1 0 25px;	
	line-height: 40px;
	text-align: center;
	color: #6f6666;
}
.menulist>li.active{
	border-left: 5px solid #549a29;
	background-color:#f9f9f9;
}
.menulist>li.active *{
	color: #549a29 !important;
}

.pt-page-moveFromLeft {
    -webkit-animation: moveFromLeft .5s ease both;
    animation: moveFromLeft .5s ease both;
}

@-webkit-keyframes moveFromLeft {
    from {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

@keyframes moveFromLeft {
    from {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}